# =============================================
# БАЗОВЫЕ НАСТРОЙКИ DJANGO
# =============================================
DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

# =============================================
# БАЗА ДАННЫХ (PostgreSQL)
# =============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

# =============================================
# НАСТРОЙКИ Discogs API
# =============================================
DISCOGS_API_KEY=your-discogs-key
DISCOGS_USER_AGENT=YourAppName/1.0
