# =============================================
# БАЗОВЫЕ НАСТРОЙКИ DJANGO
# =============================================
DEBUG=True
SECRET_KEY=*tlc$c8ol43%09f+1gp&yomh*sctw43tc$4cr)h4(ln=co2*wk
ALLOWED_HOSTS=localhost,127.0.0.1

# =============================================
# БАЗА ДАННЫХ (PostgreSQL)
# =============================================


DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# =============================================
# НАСТРОЙКИ Discogs API
# =============================================
#DISCOGS_API_KEY=your-discogs-key
#DISCOGS_USER_AGENT=YourAppName/1.0
