# =============================================
# БАЗОВЫЕ НАСТРОЙКИ DJANGO
# =============================================
DEBUG=True
SILK_ENABLED=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# =============================================
# БАЗА ДАННЫХ (PostgreSQL)
# =============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# =============================================
# НАСТРОЙКИ ЛОГИРОВАНИЯ
# =============================================
APP_LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=WARNING
APP_LOG_FORMAT=text
APP_LOG_DESTINATION=stdout
APP_LOG_COLOR=true
APP_LOG_FILE_PATH=logs/app.log

# =============================================
# НАСТРОЙКИ CELERY / REDIS
# =============================================
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# =============================================
# НАСТРОЙКИ Discogs API
# =============================================
DISCOGS_API_KEY=
DISCOGS_USER_AGENT=VinylCatalog/1.0
DISCOGS_COLLECTION_USERNAME=DubplateSpecial

# =============================================
# НАСТРОЙКИ SMS API
# =============================================
SMS_API_KEY=
SMS_PROVIDER=sms_ru
SMS_TEST_MODE=True

# =============================================
# НАСТРОЙКИ ДЛЯ МОДУЛЯ yt-dlp
# =============================================
YOUTUBE_BROWSER_PROFILE_DIR=/app/runtime/youtube-browser-profile
YOUTUBE_SESSION_LOCK_FILE=/app/runtime/youtube-session-refresh.lock
YOUTUBE_YTDLP_CACHE_DIR=/app/runtime/yt-dlp-cache
YOUTUBE_SESSION_UI_URL=http://localhost:6080/vnc.html?autoconnect=1&resize=scale
YOUTUBE_LOGIN_EMAIL=
YOUTUBE_LOGIN_PASSWORD=
YOUTUBE_JS_RUNTIME=deno
YOUTUBE_JS_RUNTIME_PATH=/usr/local/bin/deno

# =============================================
# НАСТРОЙКИ VK_API
# =============================================
VK_GROUP_ID=225812294
VK_ACCESS_TOKEN=
