{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            {% if record.cover_image_url %}
            <img src="{{ record.cover_image_url }}" alt="{{ record.title }}" class="img-fluid mb-3">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ record.title }}</h1>
            <p><strong>Артисты:</strong>
                {% for artist in record.artists.all %}
                {{ artist.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <!-- Остальные детали -->
        </div>
    </div>
</div>
{% endblock %}